{% extends 'base.html' %}
{% block seo_title %}{% if GLOBAL_SEO %}{{ GLOBAL_SEO.contact_seo_title }}{% endif %}{% endblock %}
{% block seo_description %}{% if GLOBAL_SEO %}{{ GLOBAL_SEO.contact_seo_description }}{% endif %}{% endblock %}
{% block seo_keywords %}{% if GLOBAL_SEO %}{{ GLOBAL_SEO.contact_seo_keywords }}{% endif %}{% endblock %}

{% block content %}
            <!-- Contact Page
            ================================================== -->
            <div id="contact">
                <div class="row">
                    <!-- Contact Form -->
                    <section class="contact-form col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Написать мне</h2></div>
                        <form class="site-form" action="{% url 'send_message_url' %}" id="contact-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.your_name.error_messages }}
                                    {{ form.your_name }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.your_email.error_messages }}
                                    {{ form.your_email }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.message.error_messages }}
                                    {{ form.message }}
                                </div>
                                <div class="col-md-12">
                                   <p>Введите код с картинки:</p>
                                    {{ form.captcha.error_messages }}
                                    {{ form.captcha }}
                                </div>
                                <div class="col-md-12 top_15 bottom_30">
                                    <div class="form_errors"></div>
                                    <div class="form_success"></div>
                                    <button class="site-btn" type="submit">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- Contact Informations -->
                    <section class="contact-info col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Контакты</h2></div>
                        <ul>
                             {% if SITE_SETTINGS.city %}<li><span>Город:</span> {{ SITE_SETTINGS.city }}</li>{% endif %}
                            {% if SITE_SETTINGS.linkedin %}<li><span>LinkedIn:</span> <a href="{{ SITE_SETTINGS.linkedin }}">{{ SITE_SETTINGS.linkedin }}</a></li>{% endif %}
                            <li><span>E-mail:</span> <a href="mailto:{{ SITE_SETTINGS.email }}">{{ SITE_SETTINGS.email }}</a></li>
                            {% if SITE_SETTINGS.skype %}<li><span>Skype:</span> <a href="skype:{{ SITE_SETTINGS.skype }}">{{ SITE_SETTINGS.skype }}</a></li>{% endif %}
                        </ul>
                    </section>
                </div>
            </div>
{% endblock %}