{% extends 'base.html' %}
{% block seo_title %}{% endblock %}
{% block seo_description %}{% endblock %}
{% block seo_keywords %}{% endblock %}

{% block content %}
            <!-- Contact Page
            ================================================== -->
            <div id="contact">
                <div class="row">
                    <!-- Contact Form -->
                    <section class="contact-form col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Написать мне</h2></div>
                        <form class="site-form" action="{% url 'send_message_url' %}" id="contact-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.your_name.error_messages }}
                                    {{ form.your_name }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.your_email.error_messages }}
                                    {{ form.your_email }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.message.error_messages }}
                                    {{ form.message }}
                                </div>
                                <div class="col-md-12">
                                   <p>Введите код с картинки:</p>
                                    {{ form.captcha.error_messages }}
                                    {{ form.captcha }}
                                </div>
                                <div class="col-md-12 top_15 bottom_30">
                                    <div class="form_errors"></div>
                                    <div class="form_success"></div>
                                    <button class="site-btn" type="submit">Отправить</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <!-- Contact Informations -->
                    <section class="contact-info col-md-6 padding_30 padbot_45">
                        <div class="section-title top_15 bottom_30"><span></span><h2>Контакты</h2></div>
                        <ul>
                            <li><span>Город:</span> Бишкек</li>
                            <li><span>LinkedIn:</span> AlexLinusLink</li>
                            <li><span>E-mail:</span> <a href="mailto:me@alexlinus.ru">me@alexlinus.ru</a></li>
                            <li><span>Skype:</span> alexlinus93</li>
                            <li>
                                <div class="social-icons top_15">
                                    <a class="fb" href="index.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a class="tw" href="index.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a class="ins" href="index.html#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a class="dr" href="index.html#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                </div>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
{% endblock %}