{% extends 'base.html' %}
{% load solo_tags %}
{% get_solo 'vcard.SiteConfiguration' as site_config %}

{% block seo_title %}{{ site_config.seo_title }}{% endblock %}
{% block seo_description %}{{ site_config.seo_description }}{% endblock %}
{% block seo_keywords %}{{ site_config.seo_keywords }}{% endblock %}

{% block content %}
            <!-- Home Page
            ================================================== -->
            <div id="home">
                {% if site_config.about %}
                <!-- Text Section -->
                <div class="row">
                    <section class="about-me line col-md-12 padding_30 padbot_45">
                    <div class="section-title"><span></span><h2>Обо мне</h2></div>
                    <p class="top_30">{{ site_config.about|safe }}</p>
                    </section>
                </div>
                {% endif %}
                <!-- My Services Section -->
                <div class="row">
                    <section class="services line graybg col-md-12 padding_50 padbot_50">
                    <div class="section-title bottom_45"><span></span><h2>Мои услуги</h2></div>
                    <div class="row">
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-html"></i>
                                </div>
                                <span class="title">Web-разработка</span>
                                <p class="little-text">Разработка web-сайтов, скриптов и микросервисов.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-attach"></i>
                                </div>
                                <span class="title">Верстка</span>
                                <p class="little-text">Верстка макетов web-сайтов.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-vector"></i>
                                </div>
                                <span class="title">Digital Marketing</span>
                                <p class="little-text">Создание рекламных кампаний Yandex Direct, Adwords, Target.</p>
                            </div>
                        </div>
                        <!-- a service -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="service">
                                <div class="icon">
                                    <i class="flaticon-schedule"></i>
                                </div>
                                <span class="title">Оптимизация</span>
                                <p class="little-text">Оптимизация рекламных кампаний, отдела продаж.</p>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
                <!-- Skills Section -->
                <div class="row">
                    <section class="design-skills col-12 padding_60 padbot_50">
                        <div class="section-title bottom_45"><span></span><h2>Навыки</h2></div>
                        <ul class="skill-list">
                            <div class="row">
                                <div class="col-md-6">
                                    <li>
                                        <h3>Python</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:75%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>Django</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:80%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>Photoshop</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:80%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>HTML</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:90%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>CSS</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:85%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                   <li>
                                        <h3>Bootstrap</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:80%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>Javascript</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:50%;"></div>
                                        </div>
                                    </li>
                                </div>
                                <div class="col-md-6">
                                    <li>
                                        <h3>Jquery</h3>
                                        <div class="progress">
                                            <div class="percentage" style="width:50%;"></div>
                                        </div>
                                    </li>
                                </div>
                            </div>

                        </ul>
                    </section>
                </div>
            </div>
{% endblock %}